<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home, dear home...</h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
<form action="{%url 'search'%}" method="post">
    {% csrf_token %}
    <input name='q' type="text" placeholder="Search...">
    <input type="submit" value="Найти" >
</form>

{%block content%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Москва</h6>
        <p class="card-text">Температура: {{card.temperature}}°</p>
        <p class="card-text">Ощущается как: {{card.temp_feels_like}}°</p>
        <p class="card-text">Влажность: {{card.humidity}}%</p>
        <p class="card-text">Давление: {{card.pressure}}мм.рт.ст</p>
        <p class="card-text">Вероятность дождя: {{card.rain_chance}}%</p>
        <p class="card-text">Часть дня: {{card.part_of_the_day}}</p>
        <p class="card-text">Видимость: {{card.visibility}}m</p>
        <p class="card-text">Скорость ветра: {{card.speed_wind}}m/s</p>
        <p class="card-text">Облака: {{card.cloudiness}}</p>
        <a href="{%url 'city_weather'%}" class="card-link">Detailed city weather</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
{%endblock content%}
</body>
</html>